<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>477083544370-kqv1tdf93lsv63s0uqjjmba8q2ga9br3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.477083544370-kqv1tdf93lsv63s0uqjjmba8q2ga9br3</string>
	<key>API_KEY</key>
	<string>AIzaSyCB931PEJUWA1YM-2PD5L1lr3_ixSYeXXQ</string>
	<key>GCM_SENDER_ID</key>
	<string>477083544370</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.auria.ai</string>
	<key>PROJECT_ID</key>
	<string>auria-ai</string>
	<key>STORAGE_BUCKET</key>
	<string>auria-ai.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:477083544370:ios:03409cf92dc61b8974852b</string>
</dict>
</plist>